<style>
  #tabla{
  display: block;
  background:rgb(156, 156, 167);
  text-align: center;
  width: 25%;
  float: center;
}
</style>
       <section>
          <table id="tabla" class="table table-hover">
             <thead>
              <tr>
                <th scope="col">Equipos</th>
                <th scope="col">JJ</th>
                <th scope="col">JG</th>
                <th scope="col">JP</th>
                <th scope="col">AVE</th>
                <th scope="col">DIF</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Cardenales</th>
                <td>60</td>
                <td>35</td>
                <td>25</td>
                <th>0</th>
                <th>0</th>
              </tr>
              <tr>
                  <th scope="row">Leones</th>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <th>0</th>
                  <th>0</th>
                </tr>
                <tr>
                    <th scope="row">Caribes</th>
                    <td>0</td>
                    <td>0</td>
                    <td>0</td>
                    <th>0</th>
                    <th>0</th>
                  </tr>
                  <tr>
                      <th scope="row">Tiburones</th>
                      <td>0</td>
                      <td>0</td>
                      <td>0</td>
                      <th>0</th>
                      <th>0</th>
                    </tr>
                    <tr>
                        <th scope="row">Tigres</th>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <th>0</th>
                        <th>0</th>
                      </tr>
                      <tr>
                          <th scope="row">Navegantes</th>
                          <td>0</td>
                          <td>0</td>
                          <td>0</td>
                          <th>0</th>
                          <th>0</th>
                        </tr>
                        <tr>
                            <th scope="row">Aguilas</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <th>0</th>
                            <th>0</th>
                          </tr>
                          <tr>
                              <th scope="row">Bravos</th>
                              <td>0</td>
                              <td>0</td>
                              <td>0</td>
                              <th>0</th>
                              <th>0</th>
                            </tr>
            </tbody>
          </table>
     </section>
