#slider{
  display: block;
  background: none;
  text-align: center;
  width: 75%;
  float: left;

}


#tabla{
  display: block;
  background-color:rgb(156, 156, 167);
  width: 25%;
  float: right;

}
h5{
  text-align: center;
}






